body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}
.discover {
    font-size: 50px;
    color: white;
}
.coming {
    font-size: 16px;
    color: aquamarine;
}